{% extends 'compte2.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Ajouter membre
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container-fluid">
    <form method="post" action="{% url 'add_membre' %}">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Envoyer</button>
    </form>
    </div>  
    {% endblock %}
</body>
</html>